.boardContainer {
 display: flex;
 align-items: flex-start;
 justify-content: flex-start;
 grid-gap: 30px;
 width: 100%;
}
.columList {
 width: calc((100% / 4) - 22.5px);
}
body {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.boardContainer {
 padding-left: 30px;
 padding-right: 30px;
 max-width: 100%;
 box-sizing: border-box;
 margin: 30px auto;
}
.sidebarContainer {
 padding: 30px;
}
.labelsContainer {
 padding-top: 30px;
}
.labelItem {
 display: flex;
 flex-direction: column;
 grid-gap: 15px;
}
.labelsContainer {
 display: flex;
 flex-direction: column;
 grid-gap: 10px;
}
.labelsContainer span.MuiButton-label {
 display: flex;
 justify-content: space-between;
 grid-gap: 10px;
}
.labelItem {
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-direction: row;
 grid-gap: 10px;
 cursor: pointer;
 transition: transform 0.5s !important;
}
.labelItem:hover {
 transform: scale(1.1);
}
.cardsContainer {
 padding: 8px;
 display: flex;
 flex-direction: column;
 grid-gap: 8px;
}
.listColumnContainer,
.listColumnContainer > ul {
 width: 100%;
}
.cardsContainer {
 border-bottom-left-radius: 8px;
 border-bottom-right-radius: 8px;
}
.mainCardContainer {
 border-radius: 8px;
 overflow: hidden;
}
.headerLabelContainer {
 display: flex !important;
 justify-content: space-between;
 align-items: center;
}
.addTaskHeader {
 cursor: pointer;
 transition: all 0.5s !important;
}
.addTaskHeader:hover {
 transform: scale(1.1);
}
div#labelsSelector:focus {
 background: transparent;
}
div#statusSelector:focus {
 background: transparent;
}
.cardLabelItem {
 padding: 3px 10px;
 border-radius: 6px;
}
.cardHeading {
 display: flex;
 justify-content: center;
 align-items: center;
 grid-gap: 5px;
}
.mainCardContainer {
 transition: transform 0.5s;
}
.mainCardContainer:hover {
 transform: scale(1.02);
}
.themeToggle {
 width: max-content;
 margin: auto;
 margin-right: 0;
}
